VITE_API_URL=host donde hace peticiones el cliente, ej: http://localhost:3000/api o en render: https://turnerobackend.onrender.com/api
VITE_CLOUDINARY_CLOUD_NAME=tu_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=nombre_del_preset_sin_firma