NODE_ENV=development
FRONTEND_ORIGIN=frontend origin permitida ej: https://tuturnero.vercel.app/
VITE_API_URL=url base de la api, ej: http://localhost:3000/api o en render: https://turnerobackend.onrender.com/api

ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=password hasheada con bcrypt del admin
JWT_SECRET=secreto para firmar JWT
JWT_EXPIRES_IN=tiempo de expiración del JWT, ej: 1d, 12h, 30m